<div class="category-page" *ngIf="category">
  <header class="page-header">
    <div class="header-icon">
      <span class="material-icons">{{ category.icon }}</span>
    </div>
    <div>
      <h1>{{ category.name }}</h1>
      <p class="lead">{{ category.description }}</p>
    </div>
  </header>

  <div class="components-grid">
    <div *ngFor="let component of components" class="component-card">
      <div class="card-content">
        <h3>{{ component.name }}</h3>
        <p>{{ component.description }}</p>
        <div class="component-tags">
          <span *ngFor="let tag of component.tags.slice(0, 3)" class="tag">{{ tag }}</span>
        </div>
      </div>
      <div class="card-actions">
        <a [routerLink]="['/components', category.id, component.id, 'showcase']" class="action-link primary">
          <span class="material-icons">play_circle</span>
          Playground
        </a>
        <a [routerLink]="['/components', category.id, component.id]" class="action-link">
          <span class="material-icons">description</span>
          Docs
        </a>
      </div>
    </div>
  </div>
</div>
